@{
    ViewBag.Title = "Login";
    Layout        = "~/Views/Shared/LoginLayout.cshtml";
}

<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=120645671190-153q1mktqutju297o3bqrl3uujichm2h.apps.googleusercontent.com&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile&redirect_uri=http://localhost:1025/Login/PostLogin&access_type=offline" class="btn btn-lg btn-danger">Login with Google</a>

