@{
    ViewBag.Title = "Login";
    Layout        = "~/Views/Shared/LoginLayout.cshtml";
}

<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=484533141717-ih0ih2e1thtr29n8oee1hrce3991fle3.apps.googleusercontent.com&response_type=code&scope=https://www.googleapis.com/auth/gmail.send&redirect_uri=http://localhost:10552/Login/PostLogin&access_type=offline" class="btn btn-lg btn-danger">Login with Google</a>

